{% extends 'base.html' %} {% block content %}
<div
  class="is-flex is-vh-80 is-justify-content-center is-align-items-center is-flex-direction-column"
>
  <h2 class="title">{{ answer.question }}</h2>
  <h3 class="subtitle">{{ answer }}</h3>
  <br />
  <h3 class="subtitle is-block">
    {% if answer.is_correct %}
    <span class="tag is-success is-size-1">¡Correct!</span>
    {% else %}
    <span class="tag is-danger is-size-1">¡Incorrect!</span>
    {% endif %}
  </h3>
  <a
    href="{% url 'trivia:play' category_id=answer.question.category.id %}"
    class="button is-primary mb-3"
    >Next question</a
  >
  <a href="{% url 'trivia:category' %}" class="button is-light"
    >Change category</a
  >
</div>
{% endblock content %}
